<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span aria-hidden="true">&larr;</span> Atras</a>
    {{/if}}
    
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Siguiente <span aria-hidden="true">&rarr;</span></a>
    {{/if}}
</nav>